@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="bg-dark nav flex-column nav-pills gap-2 p-3 rounded-4">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 text-light @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">
            <i class="bi bi-person-circle"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 text-light @ManageNavPages.EmailNavClass(ViewContext)" asp-page="./Email">
            <i class="bi bi-envelope-at"></i> Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 text-light @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">
            <i class="bi bi-key-fill"></i> Password
        </a>
    </li>

    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 text-light @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right"></i> External Logins
            </a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 text-light @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-lock-fill"></i> Two-Factor Auth
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 text-light @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">
            <i class="bi bi-file-earmark-person"></i> Personal Data
        </a>
    </li>
</ul>
